.videoSidebar {
    position: absolute;
    top: 50%;
    right: 10px;
    color: white;
}

.videoSidebar_options {
    padding: 20px;
    text-align: center;
    
}

@media only screen and (max-width: 440px) {
    .videoSidebar {
        top: 46%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
    .videoSidebar {
        top: 40%;
        right: 0px;
    }
}